@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHvxk.ttf)
    format("truetype");
}
@font-face {
  font-family: "Syne Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/synemono/v3/@CgsKCVN5bmUgTW9ubyAA.ttf)
    format("truetype");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #1e212d;
  font-family: "Lato", sans-serif;
}
body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: #393232;
  border-radius: 5px;
}
#home {
  color: #f2edd7;
}
nav {
  position: fixed;
  height: 100vh;
  width: 18rem;
  background-color: rgba(57, 50, 50, 0.5);
  transition: top 0.3s ease-out;
  z-index: 1;
}
@media only screen and (max-width: 480px) {
  nav {
    height: 8vh;
    width: 100%;
    z-index: 1;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  nav {
    width: 5rem;
  }
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
}
@media only screen and (max-width: 480px) {
  nav ul {
    flex-direction: row;
    overflow: scroll;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  nav ul {
    overflow: hidden;
  }
}
nav ul li {
  display: flex;
  align-items: center;
  padding-left: 4rem;
  height: 100%;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  color: #f2edd7;
  transition: all 0.2s ease;
}
@media only screen and (max-width: 480px) {
  nav ul li {
    padding-left: 0;
    margin-left: 0.4rem;
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  nav ul li {
    padding-left: 0;
    font-size: 2.2rem;
    width: 100%;
    justify-content: center;
  }
}
nav ul li:first-child {
  background-color: #393232;
  -webkit-filter: saturate(300%);
  filter: saturate(100%);
  font-size: 1.3rem;
  padding-left: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  height: 50%;
  border-bottom: 1px solid #f2edd7;
}
@media only screen and (max-width: 480px),
  only screen and (min-width: 480px) and (max-width: 1024px) {
  nav ul li:first-child {
    padding-left: 0;
  }
}
nav ul li:first-child:hover {
  background-color: #393232;
  color: #f2edd7;
}
nav ul li:hover {
  background-color: #f2edd7;
  color: #393232;
  cursor: pointer;
  font-weight: bold;
}
@media only screen and (max-width: 480px) {
  nav ul li:hover {
    background-color: transparent;
    color: #f2edd7;
    transform: scale(1.3);
  }
}
nav ul li i {
  padding-right: 1rem;
}
@media only screen and (max-width: 480px),
  only screen and (min-width: 480px) and (max-width: 1024px) {
  nav ul li i {
    padding: 0.6rem;
  }
}
nav ul #home-svg {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  height: 2.5rem;
  display: none;
  margin: 0 auto;
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  nav ul #home-svg {
    display: block;
    margin: 0.5rem 0;
  }
}
#container {
  margin-left: 18rem;
  padding: 0 4rem 0 3rem;
}
@media only screen and (max-width: 480px) {
  #container {
    margin-left: 0;
    padding: 3rem 1.5rem;
    z-index: 0;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  #container {
    margin-left: 5rem;
    padding: 0 1rem 0 1rem;
  }
}
.active {
  background-color: #1e212c;
  pointer-events: none;
  font-weight: bold;
}
@media only screen and (max-width: 480px),
  only screen and (min-width: 480px) and (max-width: 1024px) {
  .li-text {
    display: none;
  }
}
#home {
  z-index: 0;
  position: absolute;
  top: 0;
  padding: 2rem 0 0 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  #home {
    padding-left: 7rem;
  }
}
@media only screen and (max-width: 480px) {
  #home {
    padding-left: 2rem;
  }
}
#home h1 {
  margin-bottom: 1.8rem;
  font-size: 2.2rem;
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  #home h1 {
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 480px) {
  #home h1 {
    padding-top: 2.3rem;
    margin-bottom: 0.7rem;
  }
}
#home h1,
#home h2 {
  font-family: "Syne Mono", monospace;
  letter-spacing: 0.2rem;
}
#home h2 {
  padding: 2.3rem 0 1rem 0;
}
#home p {
  font-size: 1.2rem;
  padding-right: 1rem;
  line-height: 1.8rem;
}
@media only screen and (max-width: 480px) {
  #home p {
    font-size: 1rem;
  }
}
#home ul {
  display: flex;
  width: 90%;
  height: 100%;
  flex-wrap: wrap;
}
@media only screen and (max-width: 480px) {
  #home ul {
    width: 100%;
  }
}
#home ul li {
  display: flex;
  padding: 1rem;
  width: 20%;
  font-size: 1.5rem;
  cursor: pointer;
}
@media only screen and (max-width: 480px) {
  #home ul li {
    width: 50%;
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  #home ul li {
    width: 50%;
    font-size: 1.2rem;
  }
}
#home ul li img {
  width: 1.5rem;
  vertical-align: middle;
  -webkit-filter: saturate(100%);
  filter: saturate(100%);
  margin-right: 0.4rem;
}
#home ul li i {
  margin-right: 0.4rem;
}
#home ul li a {
  color: inherit;
  text-decoration: none;
  outline: none;
}
#home ul li .invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
