@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHvxk.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #1e212d;
}
nav {
  position: fixed;
}
nav ul {
  display: inline-flex;
  flex-direction: column;
  background-color: #393232;
  height: 100vh;
  justify-content: space-between;
  width: 20rem;
  width: 100%;
  user-select: none;
}
nav ul li {
  padding: 1.5rem 2.9rem;
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
  color: #f2edd7;
  transition: all 0.2s ease;
}
nav ul li:first-child {
  background-color: #433d3c;
  padding-left: 5rem;
  font-weight: bold;
}
nav ul li:hover {
  background-color: #f2edd7;
  color: #393232;
  cursor: pointer;
}
nav ul li i {
  padding-right: 1rem;
}
#container {
  margin-left: 16rem;
  padding-left: 3rem;
  margin-right: 4rem;
}
